<!DOCTYPE html>
<html ng-app="main">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="board-c" ng-controller="board as board">
    <div id="elements">
        <div class="square">
            <div class="inner-square" >
                <div draggable=true class="box" ng-class="board.current_color">
                </div>
            </div>
        </div>
        <div class="square">
        </div>
        <div class="square" ng-repeat="color in board.colors" ng-click="board.current_color=color">
            <div class="inner-square" ng-switch="square.type">
                <div draggable=true class="box" ng-class="color">
                </div>
            </div>
        </div>
    </div>

    <div id="board">
        <div class="square" id="square-{{square.value}}" ng-repeat="square in board.squares">
            <div class="inner-square" ng-switch="square.type" ng-click="board.square_click(square)">
                <div ng-switch-when="1" class="box" ng-class='square.color+"-circle"'></div>
                <div ng-switch-when="2" draggable=true class="box" ng-class="square.color">
                    <div ng-class="board.dir_css_map[square.dir%4]">
                    </div>
                </div>
                <div ng-switch-when="3" class="box white">
                    <div ng-class="board.arrow_dir_css_map[square.dir%4]">
                    </div>
                </div>
                <div ng-switch-when="4" class="box black-circle">
                </div>
            </div>
        </div>
    </div>
    <div id="result-board">
        <div ng-show="board.loading">
            <img src="loading.gif">
        </div>
        <div ng-show="!board.loading" class="square" ng-repeat="color in board.result_colors track by $index">
            <div class="inner-square" ng-switch="square.type">
                <div class="box" ng-class="color">
                </div>
            </div>
        </div>
    </div>
    <div style="float:left;width:100%;">
        <div style="margin:auto;width:120px;">
            <button name="clear" ng-click="board.clear()" class="btn btn-success">清空</button>
            <button name="submit" ng-click="board.submit()" class="btn btn-success">求解</button>
        </div>
    </div>
</div>
</body>
<script src="main.js"></script>
</html>